@page "/System"
@inherits SystemPmView
<div class="d-flex justify-content-between">
    <h2>Log Application Error</h2>
    <div class="d-flex" style="justify-content: flex-end">
        <input type="date" style="border-width:1px" class="form-control-sm" @bind-value="@FilterByDate" @bind-value:event="oninput" />
        <input style="margin-left:10px; border-width:1px" type="text" class="form-control-sm" placeholder="Search..." @bind-value="@FilterByErrorMsg" @bind-value:event="oninput" />
        <button class="btn" @onclick="()=>ClearSearch()"><i class="fa fa-close"></i></button>
    </div>
</div>
<br />


<MudTable Items="@ApplicationErrorVieweModels" SortLabel="Sort" Height="100%" Style="width: 100%">
    <HeaderContent>
        <MudTh >
            <MudTableSortLabel SortBy="new Func<Data.ViewModel.ApplicationErrorViewModel, object>(x=>x.InsertDate)">
                Date
            </MudTableSortLabel>
        </MudTh>
        <MudTh >
            <MudTableSortLabel SortBy="new Func<Data.ViewModel.ApplicationErrorViewModel, object>(x=>x.UserName)">
            UserName
            </MudTableSortLabel>
        </MudTh>
        <MudTh >
            <MudTableSortLabel SortBy="new Func<Data.ViewModel.ApplicationErrorViewModel, object>(x=>x.ErrorContext)">
                Context
            </MudTableSortLabel>
        </MudTh>
        <MudTh >
            <MudTableSortLabel SortBy="new Func<Data.ViewModel.ApplicationErrorViewModel, object>(x=>x.ErrorMessage)">
                Message
            </MudTableSortLabel>
        </MudTh>
        <MudTh >
            <MudTableSortLabel SortBy="new Func<Data.ViewModel.ApplicationErrorViewModel, object>(x=>x.ErrorInnerException)">
                Inner Ex
            </MudTableSortLabel>
        </MudTh>
    </HeaderContent>
    <RowTemplate Context="item">
        <MudTd DataLabel="InsertDate" >@item.InsertDate</MudTd>
        <MudTd DataLabel="InsertDate" >@item.UserName</MudTd>
        <MudTd DataLabel="ErrorContext" Style="overflow-wrap:break-word;max-width:600px;">@item.ErrorContext</MudTd>
        <MudTd DataLabel="ErrorMessage" >@item.ErrorMessage</MudTd>
        <MudTd DataLabel="ErrorInnerException" Style="overflow-wrap:break-word;max-width:600px;" >@item.ErrorInnerException</MudTd>
    </RowTemplate>
    <PagerContent>
        <MudTablePager RowsPerPageString="Number of objects" PageSizeOptions="new int[]{50, 100}" />
    </PagerContent>
</MudTable>




